@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root{
    --Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    font-family: "Manrope", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Light-Grayish-Blue);
}

.preview-container{
   margin-inline: 16px;
   margin-block: 32px;
}

.container{
    background-color: white;
    max-width: 21rem; 
    margin-inline: auto;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}

.container .image .drawer-img{
    width: 100%;
    max-width: 21rem;
    height: 200px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px; 
}

h1{
    font-size: 16px;
    line-height: 1.5;
    color: var(--Dark-Grayish-Blue);
}

.content .inner .para1{
    color: var(--Dark-Blue);
    font-size: 13.5px;
    font-weight: 500;
    line-height: 1.5;
    padding: 15px 0 30px 0;
}

.container .content .inner{
    padding: 35px 35px 30px;
}

.michelle-img{
    border-radius: 50%;
}

.profile-details{
    display: flex;
    align-items: center;
}

.profile-details .info{
    line-height: 1.5;
    margin-left: 15px;
}

.profile-details h2{
    font-size: 14px;
    color: var(--Dark-Grayish-Blue);
}

.profile-details p{
    color: var(--Grayish-Blue);
    font-size: 12px;
    font-weight: 500;
}

.profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile .share-icon{
    border: none;
    outline: none;
    background-color: var(--Light-Grayish-Blue);
    color: var(--Dark-Blue);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
    z-index: 20;
}

.content .social-links{
    background-color: var(--Dark-Grayish-Blue);
    display: flex;
    align-items: center;
    padding-inline: 35px;
    position: absolute;
    bottom: -8rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    height: 100px;
    width: 100%;
    transition: 0.3s ease-in-out;
}

.content .social-links .d-flex{
    display: flex;
    align-items: center;
}

.social-links .d-flex span{
    text-transform: uppercase;
    color: var(--Grayish-Blue);
    letter-spacing: 5px;
    font-weight: 500;
    font-size: 14px;
    padding-right: 15px;
}

.content .social-links .links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.social-links .links li{
    list-style-type: none;
}

.social-links .links a{
    font-size: 20px;
    color: white;
}

.active{
    bottom: 0;
}

.share-active{
    background-color: #6e8098;
}

.share-active img{
    filter: brightness(10);
}
